@import "boostrap/index";

body {
  min-width: 320px;
}

.form-dark label {
  color: #ffffff
}

.btn-edit {
  position: absolute;
  border-radius: 100%;
  overflow: hidden;
  right: 5px;
  top: 5px;
  transform: translate(50%, -50%);
  z-index: 999999;
}

.btn-create {
  border-radius: 100%;
  overflow: hidden;
}

.icon-featured {
  cursor: pointer;
  position: absolute;
  color: #ffffff;
  font-size: 1.25em;
  top: 10px;
  left: 10px;
  z-index: 9999;
}
