<div class="bg-white py-5">
  <div class="container-fluid container-lg mb-0 mb-lg-5">
    <h1 class="d-flex align-items-center">
      Projects
      <ui-project-form
        *ngIf="auth.isLoggedIn$ | async"
        title="Create Project"
        mode="create"
      ></ui-project-form>
    </h1>
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</div>
<div class="bg-light py-5">
  <div class="container">
    <div class="row pt-4 pt-lg-0">
      <div
        class="col-12 p-0 px-lg-2 py-lg-4"
        *ngFor="let project of projects$ | async; let i = index"
      >
        <ui-project-card [project]="project" [index]="i"></ui-project-card>
      </div>
    </div>
  </div>
</div>
