<div
  class="modal fade show"
  tabindex="-1"
  role="dialog"
  (click)="onDismissClick()"
  style="display: block;"
>
  <div class="modal-dialog" role="document" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-header p-0 pt-1 border-0 bg-gradient">
        <div class="d-flex w-100 p-3 bg-dark text-white">
          <h5 class="modal-title text-capitalize">
            <ng-content select="[modalTitle]"></ng-content>
          </h5>
          <button
            type="button"
            class="close text-white"
            (click)="onDismissClick()"
          >
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show" (click)="onDismissClick()"></div>
