p:last-child {
  margin-bottom: 0;
}

.navbar {
  border: 0;
}

.content {
  width: calc(100vw - (100vw - 100%));
}

.bg-gradient {
  background-image: linear-gradient(0.130turn, theme-color('secondary') 15%, theme-color('primary') 85%)
}

.bg-gradient-reverse {
  background-image: linear-gradient(0.130turn, theme-color('primary') 15%, theme-color('secondary') 85%)
}